@font-face{
  font-family:'ATCO';
  src: url('atco-heavy.otf');
}

html {
  font-size: 62.5%;
}

body {
  background: #000;
  align-items: center;
  justify-content: center;
  font-family: "ATCO", Helvetica, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

.photo {
  background: url(images/seaxes-header.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  padding: 5vw 10vw;
  box-sizing: border-box
}

.photo--epk {
  height: 20vh;
}

header h1 {
  width: 80%;
  margin: -12.5% auto 2rem auto;
  border: 0.3rem solid white;
  border-bottom: 0;
  background: url(images/seaxes-logo-white.svg) center no-repeat black;
  background-size: 100% auto;
  padding-bottom: 25%;

  font-size: 1px;
  color: transparent;
}

.band-photo {
  max-width: 80rem;
  margin: 0 auto;
}

.band-photo img {
  width: 100%;
  display: block;
  height: auto;
}

h1, h2, h3 {
  font-weight: normal;
  font-size: 0.9em;
  letter-spacing: 0.4em;
  margin: 3em 0;
  text-transform: uppercase;
}

ul, p {
  margin: 1.5em auto;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

li {
  margin: 0 auto;
}

.shows li + li {
  margin-top: 2em;
}

.inline-list {
  font-size: 0.9;
  max-width: 500px;
}

.inline-list li {
  display: inline;
}

.inline-list li + li:before {
  content: '•';
  margin: 0 0.5em;
}

.external {
  margin: 0;
  display: flex;
  font-size: 2em;
}

.external li {
  flex: 1 0 auto;
}

.external a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  transition: all .4s;
}

.external a:hover {
  color: #000;
  background: #fff;
}

small {
  font-size: 0.7em;
  margin: 0 0.5em;
}

footer {
  font-size: 0.75em;
  margin-top: 10em;
  letter-spacing: 0.4em;
}

.headshots {
  overflow: hidden;
  max-width: 400px;
}

.headshots small {
  display: block;
}

.headshots li {
  width: 50%;
  float: left;
}

.headshots li + li {
  float: right;
}

.headshots img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.slides {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  position: relative;
  z-index: 1000;
}

.slides li {
  width: 25%;
  -ms-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
  flex: 0 0 25%;
  background: center transparent no-repeat;
  background-size: cover;
  display: none;
}

.slides label {
  display: block;
  padding-bottom: 100%;
}

.slides img {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;
  transform: translate(-50%, -50%);
}

.slides :checked + label {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.9);
  padding: 0;
}

.slides input {
  display: none;
}

.slides :checked + label img {
  display: block;
}


.yt {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  z-index: 1;
}

.yt-inner {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.yt iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.soundcloud {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
}

.bio li {
  list-style-type: square;
  font-weight: normal;
  font-family: Verdana;
}

.epk-columns {
  display: flex;
  width: 100%;
  letter-spacing: 0;
  text-transform: none;
  text-align: left;
  letter-spacing: 0.1em;
  padding: 0 5vw;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .epk-columns {
    display: block;
  }
}

.epk-columns h2 {
  text-align: center;
}

.epk-columns li {
  margin-left: 2em;
}

.epk-columns > div {
  flex: 1;
  padding: 0 2vw;
}

.epk-columns a {
  border-bottom: 2px dotted white;
  color: #fff;
  text-decoration: none;
}

.embed iframe {
  margin: 2em auto;
  display: block;
}

.epk-columns .embed {
  text-align: center;
}

.streaming-links a {
  color: white;
  text-decoration: none;
  margin-bottom: 2rem;
  border-bottom: 2px dotted white;
}

.tgic-promo {
  display: block;
  padding: 10px;
}

.tgic-promo img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.enjoy {
  font-family: monospace;
  margin-bottom: 5vh;
  text-transform: none;
}

.enjoy span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: white;
}

.bio {
  color: black;
  font-family: garamond;
  font-size: 17px;
  text-transform: none;
  letter-spacing: 0;
  text-align: left;
}

.bio a {
  border-bottom: 1px dotted black;
  text-decoration: none;
  color: black;
}

.bio article {
  padding: 3vw;
  background: white;
  max-width: 700px;
  margin: 3vw auto;
}

footer {
  margin: 2rem 0;
}